.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(45, 45, 45, 1);
  width: 400px;
  height: 500px;
  padding: 20px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  color: white;
  margin-bottom: 20px;
}

.input-field {
  width: 260px;
  height: 20px;
  margin: 4px;
  padding: 10px;
}

.sign-in-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 0;
}

.separator {
  margin: 0 10px;
}
