body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 39, 48, 1);
}

.subpage-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpage-item {
  margin-left: 4rem;
  color: rgba(111, 115, 124, 1);
  cursor: pointer;
  text-decoration: none; 
  font-size: 32px;
  font-family: 'Pretendard';
}

.subpage-item:hover {
  text-decoration: underline;
}

.subpage-item::selection {
  background-color: white; 
  color: rgba(111, 115, 124, 1); 
}

/* 클릭한 아이템의 글자 색상을 흰색으로 설정 */
.subpage-item.selected {
  color: white; 
}

.image5 {
  margin-right: 6rem;
  margin-bottom: 6rem;
  width: 1060px; 
  height: 624px; 
  position: absolute; 
  bottom: 0; 
  right: 0; 
}

/* HIGH-END CAR STORE 문자열 스타일링 */
.header {
  text-align: center;
  margin-bottom: 2rem; 
}

.title {
  top: 30%;
  left: 10%;
  position: absolute;
  color: white;
  font-size: 100px; 
  font-family: 'Pretendard';
  z-index: 999;
  
}
.title2{
  top : 44%;
  left: 10%;
  position: absolute;
  color: white;
  font-size: 100px; 
  font-family: 'Pretendard';
  z-index: 999;
}

.contents{
  top: 62%;
  left: 10%;
  position: absolute;
  color: rgba(111, 115, 124, 1);
  font-size: 28px; 
  font-family: 'Pretendard';
}
.contents2{
  top: 66%;
  left: 10%;
  position: absolute;
  color: rgba(111, 115, 124, 1);
  font-size: 28px; 
  font-family: 'Pretendard';
  z-index: 999;
}

/* "VIEW MORE" 링크 스타일링 */
.view-more {
  position: absolute;
  color: rgba(111, 115, 124, 1);
  text-decoration: underline;
  bottom: 6rem; 
  left: 10%; 
  font-size: 24px; 
  font-family: 'Pretendard'; 
}