body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 39, 48, 1);
}

.subpage-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subpage-item {
  margin-left: 4rem;
  color: rgba(111, 115, 124, 1);
  cursor: pointer;
  text-decoration: none; 
  font-size: 32px;
  font-family: 'Pretendard';
}

.subpage-item:hover {
  text-decoration: underline;
}

.subpage-item::selection {
  background-color: white; 
  color: rgba(111, 115, 124, 1); 
}

/* 클릭한 아이템의 글자 색상을 흰색으로 설정 */
.subpage-item.selected {
  color: white; 
}

.image5 {
  margin-right: 6rem;
  margin-bottom: 6rem;
  width: 60%; 
  height: 60%; 
  position: absolute; 
  bottom: 0; 
  right: 0; 
}

/* HIGH-END CAR STORE 문자열 스타일링 */
.header {
  text-align: center;
  margin-bottom: 2rem; 
}

.title {
  color: white;
  font-size: 100px; 
  font-family: 'Pretendard';
}

.contents{
  color: white;
  font-size: 28px; 
  font-family: 'Pretendard';
}

/* "VIEW MORE" 링크 스타일링 */
.view-more {
  color: white;
  text-decoration: underline;
  margin-left: 10px; /* 링크와 다른 아이템 간의 간격 조절 */
  font-size: 24px; /* 원하는 글자 크기 */
  font-family: 'Pretendard'; /* 원하는 글꼴 설정 */
}