//보통 Sass 라이브러리를 불러올 때 node_modules의 내부 경로 안에 들어가 있는 scss 파일을 불러온다.
//공식 매뉴얼에 없으므로 직접 경로를 들어가 확인해야 함 
@import '~include-media/dist/include-media';
@import '~open-color/open-color';

// 변수 사용하기
$red :  #fa5252;
$orange : #fd7e14;
$yellow : #fcc419;
$green : #40c057;
$blue : #229af0;
$indigo : #4c7cfa;
$violet : #7950f2;

// 믹스 만들기 ( 재사용되는 스타일 블록을 함수처럼 사용 가능 )
@mixin square($size) { 
  $calculated : 32px * $size;
  width : $calculated;
  height : $calculated;
}